.header-container {
  width: 100%;
  height: 64px;
  position: relative;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  padding: 0 30px;
  margin-top: 50px;
}
.top-nav{
  width: 1392px;
  height: 64px;
  flex-shrink: 0;
}


.logo-icon {
  width: 40px;
  height: 40px;

}

.navigation-container {
  width: 698px;
  height: 32px;
  display: flex;
  align-items: center;
  gap: 64px;
}

.navigation-links {
  display: flex;
  gap: 64px;
}

.nav-link {
  color: #9ea7b8;
  font-size: 18px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 8px;
  width: 80px;
  text-wrap: nowrap;
}
.nav-link-more {
  color: #9ea7b8;
  font-size: 18px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 8px;
  width: 80px;
  margin-right: 35px;
}

.nav-link.active {
  color: #242e49;
}

.active-indicator {
  position: absolute;
  left: 45px;
  top: 0;
}

.button-container {
  height: 64px;
  padding: 16px;
  background: #0f67fe;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.button {
  display: inline-flex;
  height: 64px;
  padding: 16px 64px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
}

.button-text {
  color: white;
  font-size: 18px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
}
