.header-container {
  width: 1392px;
  height: 64px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 64px;
}

.logo-container {
  width: 64px;
  height: 64px;
  padding: 12px;
  background: #f2f5f9;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 40px;
  height: 40px;
  position: relative;
}

.logo-icon {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
}

.logo-image {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(-90deg);
  transform-origin: top left;
}

.logo-icons {
  position: absolute;
  top: 22.17px;
  left: 0;
  display: flex;
  gap: 8px;
}

.navigation-container {
  width: 698px;
  height: 32px;
  display: flex;
  align-items: center;
  gap: 64px;
}

.navigation-links {
  display: flex;
  gap: 64px;
}

.nav-link {
  color: #9ea7b8;
  font-size: 18px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 8px;
}

.nav-link.active {
  color: #242e49;
}

.active-indicator {
  position: absolute;
  left: 45px;
  top: 0;
}

.button-container {
  height: 64px;
  padding: 16px;
  background: #0f67fe;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.button {
  display: flex;
  align-items: center;
  gap: 16px;
}

.button-text {
  color: white;
  font-size: 18px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
}
