:root {
  --Asklepios-Gray-80: #242e49;
  --Asklepios-Gray-White: #ffffff;
  --Therapeia-Blue-60: #0f67fe;
  --Asklepios-Gray-100-A48: #090e1d7a;
  --Asklepios-Gray-40: #9ea7b8;
  --Asklepios-Gray-White-A48: #ffffff7a;
  --Asklepios-Gray-White-A64: #ffffffa3;
  --Therapeia-Blue-50: #458cff;
}

.services-img1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.services-mainContent {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.services-ourPurpose {
  display: flex;
  height: 40px;
  padding: 8px 10px;
  justify-content: center;
  align-items: center;
  border-radius: 9px;
  border: 1px solid var(--Asklepios-Gray-80, #242e49);
  color: var(--Asklepios-Gray-80, #242e49);
  text-align: center;
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.16px;
  background-color: transparent;
}

.services-mainPurpose {
  width: 672px;
  color: var(--Asklepios-Gray-80, #242e49);
  text-align: center;
  font-size: 72px;
  font-style: normal;
  font-weight: 800;
  line-height: 80px;
  letter-spacing: -1.44px;
}

.services-innerPurpose {
  color: var(--Therapeia-Blue-60, #0f67fe);
}

.services-learnMore {
  display: flex;
  height: 64px;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 12px;
  background: var(--Therapeia-Blue-60, #0f67fe);
}

.services-learnMore p {
  color: var(--Asklepios-Gray-White, #fff);
  font-family: "Plus Jakarta Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.18px;
}

.services-secondaryContent {
  display: flex;
  width: 97%;
  justify-content: space-between;
  align-items: flex-end;
}
.services-scrollDown {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.services-scrollDown p {
  color: var(--Asklepios-Gray-80, #242e49);
  text-align: center;
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.14px;
}
.services-cards {
  display: flex;
  width: 380px;
  height: 250px;
  padding: 12px 12px 0px 12px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 40px;
  background: var(--Asklepios-Gray-100-A48, rgba(9, 14, 29, 0.48));
  overflow-y: auto;
  overflow-x: hidden;
}
.services-cards::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}
.services-cards::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}
.services-cards::-webkit-scrollbar-thumb {
  background: var(--Asklepios-Gray-80);
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}
.services-cards .cards {
  display: flex;
  width: 356px;
  height: 106px;
  padding: 12px 87px 15px 10px;
  align-items: flex-start;
  gap: 11px;
  flex-shrink: 0;
  border-radius: 40px;
  background: var(--Therapeia-Blue-50, #458cff);
}
.services-cards .cards:last-child {
  margin-bottom: 12px;
}
.services-ellipse {
  width: 46px;
  height: 46px;
  flex-shrink: 0;
  fill: var(--Asklepios-Gray-White-A64, rgba(255, 255, 255, 0.64));
  border-radius: 50%;
}
.services-cards .cards .cards-text {
  display: flex;
  width: 202px;
  flex-direction: column;
  align-items: flex-start;
  gap: 3px;
  flex-shrink: 0;
}
.services-cards .cards .cards-text p:first-child {
  align-self: stretch;
  color: #fff;
  font-family: "Plus Jakarta Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.18px;
}

.services-cards .cards .cards-text p:last-child {
  align-self: stretch;
  color: var(--Asklepios-Gray-White-A48, rgba(255, 255, 255, 0.48));
  font-family: "Plus Jakarta Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.12px;
}

.services-secondContent {
  display: flex;
  padding: 12px 24px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100dvw;
  /* margin: auto; */
  /* margin-top: 123px;
  transform: scale(1.35); */
}

.services-secondContent .container {
  width: 100%;
  display: flex;
  padding: 96px 118px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 24px;
  background: var(--Asklepios-Gray-80, #242e49);
}
.services-secondContent .container .content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 142px;
}

.services-secondContent .container .content .col1 {
  width: 566px;
  height: 577px;
  border-radius: 24px;
  position: relative;
  background: var(--Asklepios-Gray-70, #3d4966);
}

.services-secondContent .container .content .col1 .mobile .metal {
  width: 457px;
  height: 538px;
  flex-shrink: 0;
  background: url("../../public/images/realPhone-removebg-preview.png");
  background-repeat: no-repeat;
  position: absolute;
  top: 39px;
  left: 107px;
}
.services-secondContent .container .content .col1 .mobile .screen {
  width: 912px;
  height: 912px;
  flex-shrink: 0;
}

.services-secondContent .container .content .col2 {
  display: flex;
  width: 448px;
  flex-direction: column;
  align-items: flex-start;
  gap: 61px;
}

.services-secondContent .container .content .col2 .tabs {
  display: flex;
  padding: 4px;
  align-items: flex-start;
  border-radius: 12px;
  background: var(--Asklepios-Gray-70, #3d4966);
}

.services-secondContent .container .content .col2 .tabs .tab {
  display: flex;
  height: 48px;
  padding: 8px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  color: white;
}
.services-secondContent .container .content .col2 .tabs .tab.active {
  display: flex;
  height: 48px;
  padding: 8px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: var(--Asklepios-Gray-60, #5d6a85);
}

.services-secondContent .container .content .col2 .frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}

.services-secondContent .container .content .col2 .frame p:first-child {
  align-self: stretch;
  color: var(--Asklepios-Gray-White, #fff);
  font-family: "Plus Jakarta Sans";
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: 56px;
  letter-spacing: -0.96px;
}

.services-secondContent .container .content .col2 .frame p:last-child {
  align-self: stretch;
  color: var(--Asklepios-Gray-20, #dce1e8);
  font-family: "Plus Jakarta Sans Light";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
}

.services-secondContent .container .content .col2 .learnmore {
  display: flex;
  height: 64px;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 12px;
  background: var(--Therapeia-Blue-60, #0f67fe);
}
.services-secondContent .container .content .col2 .learnmore .content {
  display: flex;
  align-items: center;
  gap: 16px;
}

.services-secondContent .container .content .col2 .learnmore .content p {
  color: var(--Asklepios-Gray-White, #fff);
  font-family: "Plus Jakarta Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.18px;
}
